# unused testvectors
shabytetestvectors/*Monte.*
shabytetestvectors/SHA224*
shabytetestvectors/SHA256*
shabytetestvectors/SHA384*
shabytetestvectors/SHA512*

# ignores due to Atom plugin for Deno
node_modules
package-lock.json
tsconfig.json
